@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

.body-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 19px 16px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-list-user {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.welcome {
  background-image: url("../image/background/sedona.jpg");
  background-color: #83b3d3;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
  padding-top: 51.4px;
  padding-bottom: 83.03px;
}

.slogan {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 63px 240px 23px;
}

.text {
  line-height: 36px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  padding: 0px 240px 79px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-title {
  line-height: 28px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-top: 98px;
}

.advantages-item-picture {
  display: flex;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item-picture-container {
 /*не знаю как расставить в колонну. flex-direction: column не работает*/
}

.advantages-description {
  line-height: 21px;
  font-size: 18px;
  margin: 0;
  padding: 25px 90px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
}

.features-item:nth-child(even) {
  background-color: #ffffff;
}

.features-title {
  margin: 0;
  padding-top: 184px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}

.features-description {
  margin: 0;
  padding-bottom: 79px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  list-style-type: none;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-top: 91px;
  padding-bottom: 15px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 73px;
}

.mailing {
  background-image: url("../image/background/background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
}

.mailing-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 94px;
}

.mailing-text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 26px;
}

.mailing-form {
  padding-bottom: 94px;
}

.page-footer {
  display: flex;
}

.footer-social {
  flex-grow: 1;
  margin: 0;

}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: auto;
  padding: 0;
  list-style-type: none;
  ;
}

.footer-social-item {
  background-color: #83b3d3;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.page-footer-contacts {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer-developer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  width: 150px;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 45px;
}

/* button */

.button {
  color: #ffffff;
  background-color: #83b3d3;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.button-secondary {
  background-color: #756257;
}

.button-success {
  background-color: #7db54f;
}

.button-ghost {
  background-color: transparent;
}

.button-large {
  font-size: 20px;
}

.button-reset {
  text-transform: none;
  font-weight: normal;
}

/* catalog */

.sorting-page {
  background-image: url("../image/background/catalog-background.jpg");
  background-color: #83b3d3;
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
}

.page-main {
  background-color: #ffffff;
  color: #000000;
}

.main-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 5px;
  font-size: 60px;
  font-weight: bold;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.catalog {
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.catalog-filter-group {
  width: 150px;
  margin-left: 71px;
}

.catalog-filter-price {
  width: 290px;
  margin-left: 216px;
}

.catalog-search-container {
  width: 160px;
  margin-right: 72px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #ffffff;
}

.list-of-hotels-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.hotels-sorting {
  display: flex;
  margin: 0;
}

.hotels-sorting-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 45px;
  margin-right: 192px;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 44px;
  margin-bottom: 42px;
  margin-right: 81px;
}

.button-sorting {
  display: flex;
  margin-right: auto;
  width: 48px;
  height: 48px;
}

.button-sorting-active {
  display: flex;
  margin-right: auto;
  width: 48px;
  height: 48px;
}

.hotel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #000000;
}

.hotel-card-desc {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-current {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.page-type {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
